@keyframes spinner {

  to {
    transform: rotate(360deg);
  }
}

.loading__spinner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: transparent;
  margin: 0 auto;

  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #444;
  border-left: 4px solid #444;

  animation: spinner 1s infinite linear;
}
